header,
section,
footer,
aside,
nav,
article,
figure {
  display: block;
  margin: 0px;
  padding: 0px;
}
html {
  color: #000;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
input {
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
  font-style: inherit;
  font-weight: inherit;
}
del,
ins {
  text-decoration: none;
}
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: baseline;
}
sub {
  vertical-align: baseline;
}
legend {
  color: #000;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
input,
button,
textarea,
select {
  *font-size: 100%;
}
@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/helveticaneueltstd-lt-webfont.eot');
  src: url('../fonts/helveticaneueltstd-lt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/helveticaneueltstd-lt-webfont.woff') format('woff'), url('../fonts/helveticaneueltstd-lt-webfont.ttf') format('truetype'), url('../fonts/helveticaneueltstd-lt-webfont.HelveticaNeue') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaSans';
  src: url('../fonts/ufonts.com_proximasansregular-webfont.eot');
  src: url('../fonts/ufonts.com_proximasansregular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/ufonts.com_proximasansregular-webfont.woff') format('woff'), url('../fonts/ufonts.com_proximasansregular-webfont.ttf') format('truetype'), url('../fonts/ufonts.com_proximasansregular-webfont.ProximaSans') format('svg');
  font-weight: normal;
  font-style: normal;
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}
a {
  color: #0073b0;
  text-decoration: none;
}
a:hover {
  color: #0073b0;
  text-decoration: underline;
}
.row {
  margin-left: -20px;
  *zoom: 1;
}
.row:before,
.row:after {
  display: table;
  content: "";
}
.row:after {
  clear: both;
}
[class*="span"] {
  float: left;
  margin-left: 20px;
}
.container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px;
}
.span12 {
  width: 940px;
}
.span11 {
  width: 860px;
}
.span10 {
  width: 780px;
}
.span9 {
  width: 700px;
}
.span8 {
  width: 620px;
}
.span7 {
  width: 540px;
}
.span6 {
  width: 460px;
}
.span5 {
  width: 380px;
}
.span4 {
  width: 300px;
}
.span3 {
  width: 220px;
}
.span2 {
  width: 140px;
}
.span1 {
  width: 60px;
}
.offset12 {
  margin-left: 980px;
}
.offset11 {
  margin-left: 900px;
}
.offset10 {
  margin-left: 820px;
}
.offset9 {
  margin-left: 740px;
}
.offset8 {
  margin-left: 660px;
}
.offset7 {
  margin-left: 580px;
}
.offset6 {
  margin-left: 500px;
}
.offset5 {
  margin-left: 420px;
}
.offset4 {
  margin-left: 340px;
}
.offset3 {
  margin-left: 260px;
}
.offset2 {
  margin-left: 180px;
}
.offset1 {
  margin-left: 100px;
}
.row-fluid {
  width: 100%;
  *zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
  display: table;
  content: "";
}
.row-fluid:after {
  clear: both;
}
.row-fluid [class*="span"] {
  display: block;
  width: 100%;
  min-height: 28px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2.127659574%;
  *margin-left: 2.0744680846382977%;
}
.row-fluid [class*="span"]:first-child {
  margin-left: 0;
}
.row-fluid .span12 {
  width: 99.99999998999999%;
  *width: 99.94680850063828%;
}
.row-fluid .span11 {
  width: 91.489361693%;
  *width: 91.4361702036383%;
}
.row-fluid .span10 {
  width: 82.97872339599999%;
  *width: 82.92553190663828%;
}
.row-fluid .span9 {
  width: 74.468085099%;
  *width: 74.4148936096383%;
}
.row-fluid .span8 {
  width: 65.95744680199999%;
  *width: 65.90425531263828%;
}
.row-fluid .span7 {
  width: 57.446808505%;
  *width: 57.3936170156383%;
}
.row-fluid .span6 {
  width: 48.93617020799999%;
  *width: 48.88297871863829%;
}
.row-fluid .span5 {
  width: 40.425531911%;
  *width: 40.3723404216383%;
}
.row-fluid .span4 {
  width: 31.914893614%;
  *width: 31.8617021246383%;
}
.row-fluid .span3 {
  width: 23.404255317%;
  *width: 23.3510638276383%;
}
.row-fluid .span2 {
  width: 14.89361702%;
  *width: 14.8404255306383%;
}
.row-fluid .span1 {
  width: 6.382978723%;
  *width: 6.329787233638298%;
}
.container {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}
.container:before,
.container:after {
  display: table;
  content: "";
}
.container:after {
  clear: both;
}
.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}
.container-fluid:before,
.container-fluid:after {
  display: table;
  content: "";
}
.container-fluid:after {
  clear: both;
}
body {
  background-image: url('../img/bg.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  font-family: 'HelveticaNeue';
  font-size: 14px;
}
strong {
  font-weight: bold;
}
#preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -16px 0 0 -16px;
  z-index: 1;
}
#container.in {
  opacity: 1;
  filter: alpha(opacity=100);
}
#container.in .month {
  padding-top: 0;
}
#container.in #report_overview {
  padding-top: 25px;
  opacity: 1;
  filter: alpha(opacity=100);
}
#container.in #user_ranking {
  margin-top: 140px;
  opacity: 1;
  filter: alpha(opacity=100);
}
#container {
  z-index: 2;
  position: relative;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -ms-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  opacity: 0;
  filter: alpha(opacity=0);
  margin: 0 auto;
  width: 430px;
  padding-top: 80px;
}
#container .month {
  text-align: center;
  color: #005c70;
  font-style: italic;
  font-size: 30px;
  text-transform: uppercase;
  padding-top: 15px;
  -webkit-transition: padding 0.3s ease-out;
  -moz-transition: padding 0.3s ease-out;
  -ms-transition: padding 0.3s ease-out;
  -o-transition: padding 0.3s ease-out;
  transition: padding 0.3s ease-out;
  text-shadow: #fff 0px 1px 0px;
}
#container #report_overview {
  *zoom: 1;
  margin: 0 auto;
  width: 390px;
  padding-top: 40px;
  color: #5cb1b5;
  text-transform: uppercase;
  position: relative;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease-out 0.1s;
  -moz-transition: all 0.3s ease-out 0.1s;
  -ms-transition: all 0.3s ease-out 0.1s;
  -o-transition: all 0.3s ease-out 0.1s;
  transition: all 0.3s ease-out 0.1s;
}
#container #report_overview:before,
#container #report_overview:after {
  display: table;
  content: "";
}
#container #report_overview:after {
  clear: both;
}
#container #report_overview .label {
  float: left;
  width: 50%;
}
#container #report_overview .hours_togo {
  float: right;
  width: 50%;
  text-align: right;
}
#container #report_overview_hours {
  position: relative;
  *zoom: 1;
  border-top: 2px solid #5cb1b5;
  border-bottom: 2px solid #5cb1b5;
  padding: 19px 0 12px 0;
  margin-bottom: 10px;
  text-shadow: #fff 0px 1px 0px;
}
#container #report_overview_hours:before,
#container #report_overview_hours:after {
  display: table;
  content: "";
}
#container #report_overview_hours:after {
  clear: both;
}
#container #report_overview_hours #progress {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 0px;
  height: 2px;
  background-color: #EF2876;
  margin-top: -2px;
}
#container #report_overview_hours .logged_hours {
  float: left;
  font-size: 120px;
  line-height: 120px;
  color: #005c70;
  height: 90px;
  width: 200px;
  text-align: right;
}
#container #report_overview_hours .logged_hours_desc {
  float: left;
  font-size: 52px;
  padding-top: 5px;
  padding-left: 10px;
  line-height: 46px;
}
#container #report_overview_hours .logged_hours_desc span {
  font-size: 44px;
}
#container #hours_productive {
  display: inline-block;
  width: 146px;
  height: 146px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -73px;
  margin-bottom: -100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #ef2876;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
#container #hours_productive h4 {
  font-size: 60px;
  line-height: 50px;
  padding-top: 30px;
}
#container #hours_productive .perc {
  font-size: 14px;
}
#container #hours_productive .desc {
  font-size: 14px;
  font-family: 'ProximaSans';
  color: #f9a1c4;
}
#container #user_ranking {
  margin: 155px auto 0;
  width: 390px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.3s ease-out 0.3s;
  -moz-transition: all 0.3s ease-out 0.3s;
  -ms-transition: all 0.3s ease-out 0.3s;
  -o-transition: all 0.3s ease-out 0.3s;
  transition: all 0.3s ease-out 0.3s;
}
#container #user_ranking figure {
  position: relative;
  display: inline-block;
  width: 106px;
  height: 106px;
}
#container #user_ranking figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -53px 0 0 -53px;
}
#container #user_ranking li {
  *zoom: 1;
  padding-bottom: 25px;
}
#container #user_ranking li:before,
#container #user_ranking li:after {
  display: table;
  content: "";
}
#container #user_ranking li:after {
  clear: both;
}
#container #user_ranking .user_avatar {
  float: left;
  width: 130px;
  position: relative;
}
#container #user_ranking .user_avatar .sir {
  position: absolute;
  width: 99px;
  height: 148px;
  top: 0;
  left: 0;
  margin: -40px 0 0 5px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  border: 0;
  background-image: url('../img/label-sir.png');
  background-position: 0px 0px;
  background-repeat: no-repeat;
  z-index: 55;
  overflow: visible;
}
#container #user_ranking .user_avatar .rank {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  display: inline-block;
  width: 37px;
  height: 25px;
  color: #fff;
  font-size: 22px;
  text-align: center;
  padding-top: 12px;
  margin: -5px 0 0 -5px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#container #user_ranking .user_avatar .rank.bg0 {
  background-color: #ef2876;
}
#container #user_ranking .user_avatar .rank.bg1 {
  background-color: #009fe3;
}
#container #user_ranking .user_avatar .rank.bg2 {
  background-color: #93bc00;
}
#container #user_ranking .user_avatar .rank.bg3 {
  background-color: #ef2876;
}
#container #user_ranking h2 {
  color: #333333;
  font-size: 24px;
  padding: 15px 0 3px;
}
#container #user_ranking p {
  font-family: 'ProximaSans';
  color: #333333;
  font-size: 14px;
}
#container #user_ranking p.hours {
  color: #73aaa8;
}
#container #user_ranking p.hours span {
  border-bottom: dashed 1px #73aaa8;
}
.hide {
  display: none;
}
